@model lexical_analyzer.Models.FileContent

@{
    ViewData["Title"] = "Type";
}

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/main.css">
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
    </head>

    <body>
        <div class="thehoe">
        <div class="thePage">
            <div class="overlay">

            <a href="index.html">
                <div class="return">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </div>
            </a>

            @using(Html.BeginForm("Type","Home",FormMethod.Post)){
                    <!--start type section-->
                    <div class="typeSection">

                        <div class="container">

                            <div class="nmbers col-lg-1"></div>

                            <div class="inputType col-lg-10">
                                @if (Model.fileContent != null)
                                {
                                    <textarea type="" name="FileContent">@Model.fileContent</textarea>
                                }else
                                {
                                    <textarea type="" name="FileContent"></textarea>
                                }
                            </div>

                    <div class="plus col-lg-2">
                        <button type="submit" class="btn btn-default btn-lg remove btn-success">
                            <span class="glyphicon glyphicon-ok">Submit</span>
                          </button>
                    </div>

                </div>
            </div>
            }
            </div>

            <!--end type section-->
    </div>
</div>


    <!--start error section-->

    <div class="erorr" style="background-color: white">
               
        @foreach(var line in ViewBag.result)
        {
            <p>@line</p>
        }
    </div>

    <!--end error section-->

     <script src="~/js/jquery-1.11.1.min.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
    </body>
